.loader {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;

  border-top: 4px solid var(--primary);
  border-right: 4px solid transparent;

  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  box-sizing: border-box;

  border-left: 4px solid var(--accent);
  border-bottom: 4px solid transparent;

  animation: rotation 0.6s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
